.form-btn
{
  display: inline-block;
  padding: rem(17) rem(46);
  background-color: $primary-color;
  color: black;
  border-radius: rem(5);
  box-sizing: border-box;
  cursor: pointer;
  border: none;


}
.form-btn:hover, .btn-registration:hover{
  background-color: $primary-color;
  color: black;
  outline: none;

}
.btn-registration
{
  display: inline-block;
  padding: rem(17) rem(46);
  border-radius: rem(5);
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid $primary-color;
  background-color: transparent;
  color: $primary-color;

}
@media screen and (max-width: 768px){
  .form-btn{
    width: 100%;
  }
}