
.form-title {
  font-size: rem(24);
  line-height: rem(28.44);
  margin: 0 0 rem(55) 0;
  text-align: center;

}

.my-col {
  padding: 0;

}


.intro-form-img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(center, center);
  min-height: 100vh;

  position: relative;
}

.introform-svg-container {
  position: relative;
}

.form-one-bg {

  width: rem(107);
  height: rem(107);
  position: absolute;
  top: 350px;
  left: -30px;
  z-index: 1;
}

.form-two-bg {
  width: rem(138);
  height: rem(138);
  position: absolute;
  top: 300px;
  right: -40px;
  z-index: 1;

}

.form-three-bg {
  width: rem(147);
  height: rem(147);
  position: absolute;
  right: 200px;
bottom: 0;

  z-index: 1;
}

.form-checkbox-wrap {
  width: 100%;


}

.form-checkbox-text {
  @include flex(flex-start, center);
  padding: rem(16) 0;
  width: 100%;
  font-family: Rubik;
  font-size: rem(15);
  font-weight: 300;
  line-height: rem(18);
}

.form-paragraph {
  margin: 0;
  display: inline-block;
}

.form-highlight {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  margin-bottom: rem(-2);
  white-space: nowrap;
  overflow: hidden;
}

.form-highlight ::before {
  content: " ";
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  margin: 0;

}

input[type="checkbox"] {

  background-color: transparent;
  margin-right: rem(11);
  width: rem(20);
  height: rem(20);
  border: 1px solid $primary-color;
  border-radius: rem(3);
  //transform: scale(0);
  transition: 120ms all ease-in-out;


}
//input[type="checkbox"]::before {
//  content: " ";
//  width: 0.65em;
//  height: 0.65em;
//  transform: scale(0);
//  transition: 120ms all ease-in-out;
//  //box-shadow: inset 1em 1em ($primary-color);
//  background-color: #0a53be;
//}

//input[type="checkbox"]:checked::before {

//}

input[type="checkbox"]:checked {
  background-image: url('../../icons/VectorStroke.png');
  background-repeat: no-repeat;

  background-size: 12px 8px;
  background-position: center center;
 background-color: $primary-color;
    transform: scale(1);
}
input[type="checkbox"].active-checkbox{
  background-color: $primary-color;
}

input[type="checkbox"].checkbox-error{
  background-color: red;
  border: 1px solid red;
}

.label {
  transition: 0.3s all ease;
  position: absolute;
  cursor: initial;
  left: 56px;
  top: 18px;
  color: #E0E0E0;
  font-size: rem(19);
  line-height: 22px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.footer-text {
margin-bottom: rem(25);
  font-weight: 300;
  font-size: rem(15);
  line-height: rem(18);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.footer-text a {
  text-decoration: none;
  color: $primary-color;
}
.footer-text a:focus,hover{
  text-decoration: none;
  color: $primary-color;
}

.form-error{
  padding-top: rem(6);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #DA5050;
  margin: 0;
}
p{
  margin: 0;
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .form-paragraph {
    font-size: rem(12);
  }
}