.intro-wrapper {

  height: rem(1131);
  height: 100vh;
  text-align: center;
  vertical-align: middle;

}

.intro-bg-img{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-highlight {
  color: $primary-color;
}