select {
  cursor: pointer;
  display: inline-block;
}

//select {
//  -moz-appearance: none;
//  -webkit-appearance: none;
//  appearance: none;
//}
//select::-ms-expand {  /* для IE */
//  display: none;
//  background-image: url("./src/assets/icons/arrow.png");
//  background-repeat: no-repeat;
//}

.select-icons {
  width: 100%;
  position: relative;
}

.select-icons img {
  position: absolute;
  top: 18px;
  left: 18px;
}

select{

}