@import './assets/scss/utils';
@import './assets/scss/components';


body {
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;
}

img {
  width: 100%;
}

h1 {

  font-weight: 500;
  font-size: rem(30);
  line-height: rem(35.5);

}
