@import './assets/scss/utils';
@import './assets/scss/components';
//@import "bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";
@import '~bootstrap/scss/bootstrap.scss';
body {
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;

}

[data-scroll] {
  transition: opacity 1s ease-in-out;
}
[data-scroll="in"] {
  opacity: 1;
}
//[data-scroll="out"] {
//  opacity: 0;
//}

img {
  width: 100%;
}

h1 {

  font-weight: 500;
  font-size: rem(30);
  line-height: rem(35.5);

}
